<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Pessoas</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <link rel="stylesheet" th:href="@{/css/fundo.css}">
</head>
<body>
<div class="background-container"></div>
<h1>Cadastros</h1>
<p><a th:href="@{/pessoas/novo}">Menu</a></p>

<table border="1">
    <thead>
    <tr>
        <th>ID</th><th>Nome</th><th>CPF/CNPJ</th><th>Email</th><th>Tipo</th><th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${pessoas}">
        <td th:text="${p.id}">1</td>
        <td th:text="${p.nome}">Nome</td>
        <td th:text="${p.cpf != null ? p.cpf : (p.cnpj != null ? p.cnpj : '-')}">Documento</td>
        <td th:text="${p.email}">email</td>
        <td th:text="${p.tipo}">Tipo</td>
        <td>
            <a th:href="@{'/pessoas/editar/' + ${p.id}}">Editar</a>
            <a th:href="@{'/pessoas/excluir/' + ${p.id}}"
               onclick="return confirm('Excluir?')">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
